{namespace tl=Tx_TlPhotoblog_ViewHelpers}

<f:layout name="default"/>

This Template is responsible for creating a single view for a domain object

<f:section name="main">

	<f:render partial="article-navigation" arguments="{next:next, previous:previous}" />


	<h1>{article.title}</h1>

	<h4>ExifData</h4>

	<div class="content">

		<a href="uploads/tx_tlphotoblog/{article.image}">
			<f:image src="uploads/tx_tlphotoblog/{article.image}" alt="{article.name}" maxWidth="400" class="reflect ropacity30 rheight20" />
		</a>

		<f:format.html>{article.text}</f:format.html>

	</div>

	<br style="clear:both;" />

	<f:render partial="article-navigation" arguments="{next:next, previous:previous}" />

	<br style="clear:both; margin-top:20px;"/>

	<div class="photoblog-list">
		<h2><f:translate key="zufallsbilder-headline" />:</h2>
		<ul>
			<f:for each="{category}" as="art">
				<li>
					<f:link.action action="show" arguments="{article : art}">
						<f:image src="uploads/tx_tlphotoblog/{art.smallimage}" alt="{art.name}" width="180"
								 height="150" class="reflect ropacity30 rheight20" />
					</f:link.action>
				</li>
			</f:for>
		</ul>
	</div>

	<f:flashMessages class="flashMessages"/>

	<f:render partial="newComment" arguments="{article : article, comments:comment}"/>

	<f:render partial="comments" arguments="{comments: article.comments}"/>

</f:section>
